*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h1{
  color: red;
  
}
/* .app h1::first-letter {
  font-size: 2rem;
} */